body {
    background-color: #fff5ec;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    height: 85vh;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


#foto_div {
    width: 50%;
    height: 80%;
    min-height: 400px;
    background-image: url('data:image/jpeg;base64,${animal.fotoBase64}');
    background-size: cover;
    background-position: center;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
}

#info {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    color: #f26699;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.infozinhas {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 1rem;
}

.alinha {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;
    text-align: left;
    padding: 0.5rem 1rem;
    background: #ffebeb;
    border-radius: 8px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.alinha p {
    font-weight: bold;
    color: #333;
    margin: 0;
}

form {
    margin-top: 1.5rem;
}

input[type="submit"] {
    background: #f26699;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background: #d65482;
}

@media (max-width: 768px) {
    #main {
        flex-direction: column;
        width: 90%;
    }

    #foto_div {
        width: 100%;
        height: 300px;
    }

    #info {
        width: 100%;
        padding: 1.5rem;
    }

    .infozinhas {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .alinha {
        width: 90%;
        margin-bottom: 0.5rem;
    }
}
