body {
    background-color: #fff5ec;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    height: 85vh;

}

#main button {
    border-radius: 50px;
    cursor: pointer;
    font-size: larger;
    padding: 5px 10px;
    
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
}

#logo_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: azure;
    z-index: 4;
    max-width: 60%;
}

#logo_div a{

    color: black;
    font-size: 1rem;
    margin: 10px;
    background-color: #f5bd63;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 13px;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

#logo_div a:hover{
    background-color: #f278a1;
    color: #fff5ec;
}


h1 {
    font-size: 2rem;
    text-align: center;
}

.photos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 20px;
}

.photos img {
    display: block;
    margin: 10px;
    padding: 10px 10px 30px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    max-width: 70%;
    height: auto;
    position: absolute;
    transform: rotate(7deg);
}


.colaboradores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: beige;
    font-weight: bold;
    width: 25%;

}

.github{
    width: 100%;
    background: #f5bd63;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}


.github button {
    padding: 0;
    background: none ;
    width:140px;
    border-radius: 50%;
    cursor: pointer;
    margin:40px  100px ;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github img {
    object-fit: cover; 
    border-radius: 50%;
    width:140px;

}


.github button:hover {
    transition: background 700ms ease, transform 700ms ease;
    box-shadow: 0 0 40px #f278a1;
    transform: scale(1.30);
    
}

.github button:not(:hover) {
    transition: box-shadow 700ms ease, transform 700ms ease;
    transform: scale(1);
}





@media screen and (min-width: 600px) {
    #main {
        flex-direction: row;
        justify-content: space-between;
    }
    .photos {
        width: 50%;
    }
    .photos img {
        width: 45%;
    }
    .github {
        justify-content: space-around;
    }

    .colaboradores {
        width: 25%; 
    }
}

@media screen and (max-width: 599px) {

    .github {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .colaboradores {
        width: 80%; 
        margin-bottom: 20px; 
    }

    .github button {
        margin: 20px;
        height: 100px;
        width: 100px; 
    }

    .github img {
        height: 100px;
        width: 100px; 
    }
    h1 {
        font-size: 1.5rem;
    }

    .photos{
        padding-top: 100px;

    }
    .photos img {
        width: 50%;
    }
    @keyframes next {
        50% {
            transform: translate(-200px, 0);
        }
        100% {
            z-index: -3;
        }
    }
}
