body {
    background-color: #fff5ec;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    height: 85vh;
}

#main{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100%;
}

.solicitacao_div{
    background-color: #ffe8bd;
    border-style: solid;
    border-width: 3px;
    border-color: #f5bd63;
    border-radius: 15px;
    margin: 1rem;
    padding: 0.5rem;
}